{% extends "layout.html" %}
{% block head %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .home-container {
        padding: 60px 30px 0;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #DBCCAA;
        color: #3F372B;
        font-size: 18px;
        border: 150px solid;
        border-color: #FAF1E3;
    }

    .hstack {
        flex-direction: column;
        align-items: baseline;
        align-self: center;
    }

    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.7;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

</style>

{% endblock head %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="home-container">
        <div class="row gap-3">
            <H1 style="text-align:center">Contacto</H1>
        </div>
        <div class="row">
            <div class="col-sm-2">

                <div class="row">
                    <img src="static/files/yo.jpg" width="100%" height="100%">
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://www.linkedin.com/in/alba-aparicio-perez" class="icon linkedin">
                            <span style="font-size: xx-large;"><i class="fab fa-linkedin"></i></span>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://wwww.mobile.twitter.com/albaaparicio12" class="icon twitter">
                            <span style="font-size: xx-large;"><i class="fab fa-twitter"></i></span>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/albaaparicio12" class="icon github">
                            <span style="font-size: xx-large;"><i class="fab fa-github"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Alba Aparicio Pérez</h3>
                <p>Estudiante de Ingeniería Informática del Software en la Universidad de Oviedo</p>
                <p>Sin nada de experiencia previa a este proyecto en inteligencia artificial ni computación cuántica
                    pero con muchas ganas y curiosidad por conocer ambas.
                </p>
                <p>Correo electrónico: albaaparicio12@gmail.com</p>
            </div>
        </div>

    </div>
</main>


</div>
{% endblock content %}