{% extends "layout.html" %}
{% block head %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .home-container {
      padding: 60px 30px 0;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #DBCCAA;
      color: #3F372B;
      font-size: 18px;
      border: 150px solid;
      border-color:#FAF1E3;
    }

    .hstack {
    flex-direction: column;
    align-items: baseline;
    align-self: center;
}

</style>

{% endblock head %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="home-container">
        <div class="row">
            <H1 style="text-align:center">Ejecución</H1>
        </div>
        <form method="post" class="hstack gap-3">
            <div class="row">
                <div class="col">
                    <p>Token: </p>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1" name="token">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Dispositivo: </p>
                </div>
                <div class="col">
                    <select name=dispositivo method="GET" action="/" value="submit">
                        {% for dispositivo in dispositivos %}
                        <option value="{{dispositivo}}" SELECTED>{{dispositivo}}</option>
                        "
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Nº ejecuciones: </p>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="typeNumber" name="nEjecuciones" class="form-control" min="1"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/"><button id="cancelBtn" type="button" class="btn btn-outline-primary me-2">Cancelar</button></a></div>
                <div class="col">
                    <a href="/{{tipo}}/">
                        <button id="atBtn" type="button" class="btn btn-outline-primary me-2">Atrás</button>
                    </a></div>
                <div class="col">
                <button id="sigBtn" type="button" class="btn btn-outline-primary me-2">Siguiente</button></div>  
            </div>

        </form>
    </div>
</main>


</div>
{% endblock content %}