{% extends "layout.html" %}
{% block head %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }



</style>

{% endblock head %}

{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">

    </div>
</main>


</div>
{% endblock content %}